{{!-- {{ title}} --}}
{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}

<div class="homepage">
    <div class="homepage-box">
        <h1>Cinema Ironhack</h1>
        <a href="/movies"><button>To the movies</button></a>
    </div>
</div>