<div class="showTimes">
    <table>
        <th>{{title}}</th>
        <tr>
            <th>Show Times</th>

        </tr>

        {{#each showtimes}}
        <tr>
            <td> {{this}}</td>
        </tr>
        {{/each}}
    </table>
</div>